.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.font-marck {
  font-family: 'Marck Script', cursive;
}
.text-pink{
  color:rgb(120, 211, 59)
}
.hero-section{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  text-align:center;
}
.hero-section video{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top:0;
  left:0;
}
.navbar {
  padding-top: 0.3rem;  
  padding-bottom: 0.3rem; 
  height: 70px;          
}
.hero-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 1;

}
.hero-content{
  position: relative;
  z-index: 2;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.btn-pink{
  background-color: rgb(120, 211, 59);
  border: none;
}
.btn-pink:hover{
  background-color: rgb(13, 87, 18); }
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  height:400px;
}
.card .card-body {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.card .card-body button {
  width: 60%;
  align-self: center;
}
.card img{
  height:55%
}
.btn-pink1{
  position:absolute;
  background-color: rgb(120, 211, 59);
  border: none;
  
}
.bg-pink{
  background-color: rgb(120, 211, 59);
}
.card-bouquet{
  position: relative;
  height:500px;
  display: flex;
  flex-direction: column;


}
.card-bouquet img{
  height:45%;
  object-fit: cover;
}
.card-bouquet .card-body {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.card-bouquet .card-text {
  flex-grow: 1;
}

.card-bouquet .bottom-section {
  display: flex;
  flex-direction: column;
  
}
.card-bouquet button {
  width: 50%; 
  align-self: center;
  margin-bottom: 10px;
  border-color: rgb(120, 211, 59);
  border-radius: 60px;
  color: rgb(120, 211, 59);
  margin-right: 0px;
}
.card-bouquet button :hover {
 background-color: rgb(120, 211, 59);
 color: white;
}
